---
import Card from "../components/Card.astro";
import { bebidas } from './Productos.astro';


---

<section id="bebidas">
    <div class="pt-36">
        <h1>Bebidas🥤</h1>

        <div class="grid md:grid-cols-4 grid-cols-1 gap-6 pt-2">
            {bebidas.map(bebida => (
                <Card title={bebida.title} body={bebida.body} img={bebida.img} price={bebida.price} />
            ))}

        </div>
    </div>
</section>