---
import Card from "../components/Card.astro";
---

<section id="bebidas">
    <div class="pt-36">
        <h1>Bebidas🥤</h1>

        <div class="grid grid-cols-4 gap-4 pt-2">
            <Card title='Coca-Cola Zero'; body=''; img='src/images/coca_zero.jpg'; price='5000'> 
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/coca_zero.jpg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/coca_zero.jpg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/coca_zero.jpg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/coca_zero.jpg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/coca_zero.jpg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/coca_zero.jpg'; price='5000'>
            </Card>
            
            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/coca_zero.jpg'; price='5000'>
            </Card>
        

        </div>
    </div>
</section>