<header class=" p-4 fixed w-full text-white flex justify-between text-center items-center bg-gray-700 xl:px-40 px-10 z-20">

    <div class="flex flex-grow basis-0">
        <a href="#top" class="content-center">
            <h1 >
                El secreto de la Z
            </h1>
        </a>
        
    </div>

    <nav class="flex flex-grow justify-center ">
        <ul class="flex content-center gap-4">
            <li>
                <a class="hover:underline underline-offset-8" href="#promos">Promos💰</a>
            </li>
            <li>
                <a class="hover:underline underline-offset-8" href="#pizzas">Pizzas🍕</a>
            </li>
            <li>
                <a class="hover:underline underline-offset-8" href="#bebidas"> Bebidas🥤</a>
            </li>
        </ul>
        <div class="relative pl-4">
            <div class="absolute pointer-events-auto	">
              <svg class="absolute text-slate-400 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <input type="text" placeholder="Search" class="text-center rounded text-black">
          </div>
    </nav>

    <nav class=" flex flex-grow basis-0 justify-end">
        <ul class="flex gap-4 items-center">
            <li>
                <a class="hover:underline underline-offset-8" href="/">Menú</a>
            </li>
            <li>
                <a class="hover:underline underline-offset-8" href="/Contacto">Contacto</a>
            </li>
            <div>
                <a href="/Carrito">
                    <img class="h-10 invert hover:scale-110 transition active:scale-95" src="src/images/carrito.png" alt="">
                </a>
            </div>
        </ul>
    </nav>
    
</header>