<dialog id="modal" class="rounded-2xl">
    <div class="flex justify-end mx-5">
        <button id="btn-cerrar-modal">
            <h1 class="text-3xl mb-1 text-gray-400 hover:text-black">x</h1>
        </button>
    </div>
    <div class="flex flex-col justify-center items-center  border-t-2 mx-4 p-10 ">
        <h1 class="text-2xl font-medium">
            Iniciar sesión
        </h1>
        <br><br>
        <form method="post" class="text-xl">
            <label for="email">Correo electronico:</label><br>
            <input type="email" id="email" name="email" class=" text-black rounded px-1 bg-gray-200 text-base h-8 w-60"><br><br>
            <input type="submit" value="Ingresar" class="border rounded-md p-1 w-full  text-white bg-black hover:bg-yellow-400 hover:text-black transition">
        </form>
        <br>
        <p>Se le enviará un correo de confirmación.</p>
    </div>
</dialog>

<style>
    #modal::backdrop{
		background-color: rgba(0, 0, 0, 0.6);
	}
</style>
<script>
    const btnAbrirModal = document.getElementById('btn-abrir-modal');
const modal = document.getElementById('modal') as HTMLDialogElement;
const btnCerrarModal = document.getElementById('btn-cerrar-modal');

btnAbrirModal.addEventListener('click', () => {
	modal.showModal();
});

btnCerrarModal.addEventListener('click', () => {
	modal.close();
});

modal.addEventListener('click', (e) => {
	if (e.target === modal) {
		modal.close();
	}
});
</script>