---
import Card from '../components/Card.astro';
---
<section id="pizzas">
    <div class="pt-20">
        <h1>Pizzas🍕</h1>

        <div class="grid grid-cols-4 gap-4 pt-2">
            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>
            
            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>
        

        </div>
    </div>
</section>