---
import Card from '../components/Card.astro';
import { pizzas } from './Productos.astro';



---
<section id="pizzas">
    <div class="pt-36">
        <h1>Pizzas🍕</h1>

        <div class="grid sm:grid-cols-4 grid-cols-1 gap-6 pt-2">
            {pizzas.map(pizza => (
                <Card title={pizza.title} body={pizza.body} img={pizza.img} price={pizza.price} />
            ))}
        </div>
    </div>
</section>