---
import Card from '../components/Card.astro';
---

<section id="promos" >
    <div class="pt-36">
        <h1>Promos💰</h1>

        <div class="grid md:grid-cols-4 grid-cols-1 gap-6 pt-2">
            <Card title='Nombre promo'; body='Descripcion de la promo'; img='/images/pizza.jpeg'; price='$$'></Card>

            <Card title='Nombre promo'; body='Descripcion de la promo'; img='/images/pizza.jpeg'; price='$$'></Card>

            <Card title='Nombre promo'; body='Descripcion de la promo'; img='/images/pizza.jpeg'; price='$$'></Card>

            <Card title='Nombre promo'; body='Descripcion de la promo'; img='/images/pizza.jpeg'; price='$$'></Card>

            <Card title='Nombre promo'; body='Descripcion de la promo'; img='/images/pizza.jpeg'; price='$$'></Card>

            <Card title='Nombre promo'; body='Descripcion de la promo'; img='/images/pizza.jpeg'; price='$$'></Card>

            <Card title='Nombre promo'; body='Descripcion de la promo'; img='/images/pizza.jpeg'; price='$$'></Card>
            
            <Card title='Nombre promo'; body='Descripcion de la promo'; img='/images/pizza.jpeg'; price='$$'></Card>
        

        </div>
    </div>
</section>