---
import Card from '../components/Card.astro';
---

<section id="promos" >
    <div class="pt-36">
        <h1>Promos💰</h1>

        <div class="grid grid-cols-4 gap-4 pt-2">
            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'></Card>

            <Card title='Pizza Pepperoni'; body='pizza peperoni sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'></Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>

            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>
            
            <Card title='Pizza Napo'; body='pizza napolitana sdjfsndfj'; img='src/images/pizza.jpeg'; price='5000'>
            </Card>
        

        </div>
    </div>
</section>